:root {
  --bg-color: #212121;
  --font-color: white;
  --content-button-color: #1e1e2f;
  --content-button-border-color: #1e1e2f;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--font-color);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

body.dark-mode {
  --bg-color: white;
  --font-color: black;
  --content-button-color: #5e63be;
  --content-button-border-color: #5e63be;
}

/* Armstrong */
.content {
  width: 100%;
  transition: all 0.3s ease; 
  padding: 2rem;
  background-color: var(--bg-color);
  color: var(--font-color);
}

.numberChecker,
.numberGenerator {
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease, height 0.3s ease;
  height: 0;
  overflow: hidden;
}

.numberChecker.show,
.numberGenerator.show
{
  margin-bottom: 10%;
  padding-inline-start: 20px;
  transform: scaleY(1) translateY(0);
  opacity: 1;
  height: auto;
}