

.calculator{
  height: 80vh;
  width: 60vh;
}

.display{
  width: 50vh;
  padding: 5vh;
}

.buttons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  height: 100%;
  width: 100%;
}

