/* Light mode colors */
:root { 
  --nav-bg: #ffffff;
  --nav-font: #67737f;
  --nav-font-hover: #202935;
  --nav-font-active: #005278;
  --nav-header: #233141;
  --nav-line-color: #dbe6e8;
  --nav-btn-active-bg: #e2f3f9;
  --nav-btn-hover: #edf6f7;
}

/* body.dark-mode {
  --nav-bg-color: #221e36;
  --nav-font-color: white;
  --nav-line-color: #4a29bb;
  --nav-btn-color: #4a29bb;
  --nav-btn-active: #5931e1;
  --nav-btn-dropshadow: rgba(0, 0, 0, 0.15);
} */


/* expanded nav CSS Start*/
.sidebar.expanded{
    width: 13.5vw;
    min-width: 220px;
    background-color: var(--nav-bg);
    color: var(--nav-font);
    border-radius: 0 1.5vh 1.5vh 0; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5vh 0.65vw;
    transition: background-color 0.3s ease, 
                color 0.3s ease, 
                border-color 0.3s ease;
}

/* Title/logo CSS START*/
.nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--nav-header);
}

.nav-header i {
  font-size: 3vh;
  margin-right: 0.5vh;
}

.nav-header h1 {
  padding: 0;
  margin: 0;
  font-size: 2vh;
  font-family: "Segoe UI"; 
}
/* Title/logo CSS END*/



/* SUBMENU START */
/* Top level UL */

.nav-links{
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin-block-start: 3vh;
  margin-block-end: 0;
  margin-bottom: auto;
}

/* Nav top level links and buttons */
.nav-main-links li{
  display: flex;
  flex-direction: row;
}

/* .spacer {
  display: inline-block;
  align-items: end;
} */

/* all links and buttons in nav */
.nav-links i,
.nav-footer i {
  margin-right: 1vh;
}

.nav-links i.fa-chevron-up,
.nav-footer i.fa-chevron-up {
  margin: 0;
}

.nav-links a,
.nav-links button,
.nav-footer button {
  all: unset;
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  background-color: var(--nav-bg);  
  color: var(--nav-font);
  font-family: "Segoe UI"; 
  font-size: 1.8vh; 
  font-weight: 500;
  border: none;
  border-radius: 1vh;
  text-decoration: none;
  text-align: left;
  box-sizing: border-box;
}

/* ::active */
.nav-links a.active,
.nav-links button.active,
.nav-footer button.active {
  background-color: var(--nav-btn-active-bg);
  color: var(--nav-font-active);
}

/* Add back hover/focus states after reset */
.nav-links a:hover,
.nav-links button:hover,
.nav-footer button:hover {
  background-color: var(--nav-btn-hover);
  color: var(--nav-font-hover);
}

.nav-links a:active,
.nav-links button:active,
.nav-footer button:active {
  transform: scale(0.97);
}

/* main links and all buttons in nav */
.nav-links a.main-link,
.nav-links button,
.nav-footer button {
  padding: 1vh 1vh;
  margin: 1.2vh 0 0 0;
}

/* SUBMENU START */

/* default hidden */
.submenu {
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  transition: max-height 0.8s ease, opacity 1.8s ease;
  max-height: 0vh;
  overflow: hidden;
}

/* DISPLAY SUBMENU STARTS */
/* submenu links in nav */
.submenu.show a {
  padding: 1vh 1vh;
  margin: 0.4vh 0;
}

/* default show */
.submenu.show {
  margin-top: 1vh;
  padding-inline-start: 2vh;
  transform: scaleY(1) translateY(0);
  opacity: 1;
  max-height: 40vh;
}

/* submenu curvelines */
.submenu.show li {
  position: relative;
  padding-left: 1vw; /* make space for the curve */
}

.submenu.show li::before {
  content: "";
  position: absolute;
  left: 0.2vw;
  width: 0.5vw;
  border-left: 0.32vh solid #666;
  border-bottom: 0.32vh solid #666;
  border-radius: 0 0 0 0.6rem;
  border-color: var(--nav-line-color);
}

.submenu.show li.submenu-lower::before {
  height: 6vh;
  top: -3.4vh;
}

.submenu.show li.submenu-top::before {
  height: 2vh;
  top: 0.6vh;
}
/* submenu curvelines end*/

/* TOGGLE ARROW */
.spacer {
  display: flex;
  width: 100%;
}

.arrow {
  display: flex;
  align-items: end;
  transition: transform 0.2s;
  font-size: 0.8vh;
  text-shadow: 0 0 1px #000; /* Adds thickness */
  /* align-items: flex-end; */
}

.arrow.down {
  transform: rotate(180deg);
} 
/* DISPLAY SUBMENU ENDS */
/* SUBMENU ENDS */

.nav-footer {
  display: flex;
  /* justify-content: flex-end; */
  padding: 1vh; 
}

.settings-menu {
  display: flex;             /* keep it in the DOM */
  flex-direction: column;
  transform: scaleX(0);
  transform-origin: left;
  position: absolute;
  bottom: 4.7vh;
  left: 31vh;
  width: 13.5vw;
  min-width: 220px;
  color: var(--nav-font);
  border-width: 10px;
  border-radius: 1.5vh; 
  padding: 2.5vh 0.65vw;
  box-shadow: .01vw .01vh 1vh .011vh var(--nav-font-active);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease, max-height 0.3s ease;
}



.settings-menu.show {
  transform: scaleX(1);
  opacity: 1;
  max-height: 100vh;
}

.settings-menu h3 {
  margin: 0;
}

.settings-menu ul {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
}

