:root {
  --bg-color: #edf6f7;
  --font-color: #202935;
  --content-btn-bg: #7cd1eb;
  --content-btn-font: #202935;
  /* --content-button-border-color: #1e1e2f; */
}

body {
    font-family: "Segoe UI";
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
    /* color: var(--font-color) */
}

/* body.dark-mode {
  --bg-color: #d7d9d6;
  --font-color: black;
  --content-button-color: #5e63be;
  --content-button-border-color: #5e63be;
} */

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin: 0;
}
.container {
    display: flex;
    height: 100%;
}

/* General buttons */
.toolBtn {
  background-color: var(--nav-btn-active-bg);
  color: var(--nav-font-active);
  border-radius: 12px;
  padding: 10px 24px; 
  margin-right: 5px;
  font-family: "Segoe UI"; 
  font-size: 16px; 
  font-weight: 500;
  cursor: pointer;
  transition: all 0.1s ease;
}

/* Hover effect */
.toolBtn:hover {
  background-color: var(--nav-btn-hover);
  color: var(--nav-font-hover);
  /* box-shadow: 0 6px 12px rgba(0,0,0,0.4); */
}

/* Press effect */
.toolBtn:active {
  transform: scale(0.97);          /* Tiny press animation */
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.3); */
}




